{
  "plugins": [
    "prettier"
  ],
  "extends": [
    "react-app", 
    "react-app/jest", 
    "prettier",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "react/jsx-filename-extension": ["warn", { "extensions": [".tsx"] }]
  }
}
